.content-main {
    width: 522px;
    margin: 0 auto 0 auto;
}

.neg {
    background-color: #FFC7D1;
}
.pos {
    background-color: #BDFFDE;
}

.neutral {
    background-color: #EEF2E9;
}

.tweet {
    position: relative;
    min-height: 51px;
    padding: 9px 12px 9px;
    border-bottom: 1px solid #E8E8E8;
}
